/* Admin Style Start  */

.table th,
td {
    text-align: center;
}
.table th {
    font-size: 20px;
}
.table td {
    font-size :18px;
}
.table td.operation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table td.operation a{
    margin:0 5px !important;
}
.cat-title {
    font-weight: 800;
    color :#ffd100;
    letter-spacing : 2px;
}
.form{
    padding: 50px 25px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.show-box {
    padding:20px;
    border-radius: 10px;
    background : #1b1b1b;
    margin:30px;
}
.show-box span {
    color :#fff;
    display: block;
    font-size: 18px;
}
.show-box span b{
    color :#ffd100;
    font-size: 20px;
}

.gallery {
    padding:10px
}
.gallery img {
    width:100%;
    height:100%;
}
/* Admin Style End */





