@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,
body {
    width: 100%;
    height: 100%;
}
#app{
    width:100%;
    height:100%;
}
/* nav style */
nav {
    position: sticky;
    top: 0;
    width: 100%;
    left: 0;
    background: #1b1b1b;
    z-index: 1000;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    display: flex;
    position: relative;
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}
nav .logo img {
    width: 200px;
    height: 74px;
    z-index: 100;
    margin-left : -30px;
    padding-top:5px;
}

nav .logo::before {
    content: "";
    position: absolute;
    left: -10px;
    height: 120%;
    width: 100px;
    background: #2b59d5;
    z-index: 2;
}


nav .logo::after {
    content: "";
    position: absolute;
    height: 120%;
    width: 230px;
    background: #2b59d5;
    transform: skew(30deg);
    z-index: 2;
}


nav .logo span {
    z-index: 3;
}

nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}

nav ul li {
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
    padding:5px;
}

nav ul li a {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    color: #2b59d5;
    border-radius: 5px;

}

nav ul ul li a:hover {
    box-shadow: none;
}
.language {
    left:auto;
    right : 0;
}
nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid #2b59d5;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;

}

nav ul ul ul {
    border-top: none;
    z-index:10;
    width:100%;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul li {
    position: absolute;
    top: -60px;
    left:95%;
    width:auto;
    min-width:200px;
    background: #2b2b2b;
}
nav ul li #lang-btn{
    width:45px;
    height:45px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.show,
.icon,
input {
    display: none;
}

.fa-plus {
    font-size: 15px;
    margin-left: 40px;
}

@media all and (max-width: 968px) {
    nav ul {
        float: left;
    }

    nav .logo {
        padding-left: 30px;
        width: 100%;
    }

    .show+a,
    ul {
        display: none;
    }

    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul li a:hover {
        box-shadow: none;
    }

    .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover {
        color: #2b59d5;
    }

    .icon {
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 40px;
        line-height: 70px;
        cursor: pointer;
        font-size: 25px;
        z-index: 10;
    }

    nav ul ul {
        top: 70px;
        border-top: 0px;
        float: none;
        position: static;
        display: none;
        opacity: 1;
        visibility: visible;
        
    }

    nav ul ul a {
        padding-left: 40px;
    }

    nav ul ul ul a {
        padding-left: 80px;
    }

    nav ul ul ul li {
        position: static;
    }

    [id^=btn]:checked+ul {
        display: block;
    }

    nav ul ul li {
        border-bottom: 0px;
    }

    span.cancel:before {
        content: '\f00d';
    }

    /* language Ar */
    [lang=ar] nav .logo {
        padding-right: 30px;
    }

    [lang=ar] .icon {
        left: 40px;
        right: auto;
        z-index: 1;
    }

    [lang=ar] nav ul {
        float: none !important;
    }
   
   
}
[lang=ar] .language {
    left:0;
    right : auto;
}
/*  end nav style */

/* start carousel Style */
#header-sec {
    position: relative;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.swiper-slide .cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #2b59d5;
    opacity: .3;
}

.swiper-slide .content {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.swiper-slide .content .title {
    font-size: 3em;
    color: #fff;
    font-weight: 900;
    overflow: hidden;
    text-align: left;
}

.swiper-slide .content .title .title-wrapper {
    transform: translateX(-100%);
    transition: all 1s ease;
}

.swiper-slide .content .title .title-wrapper span::before {
    content: "";
    width: 8px;
    height: 60px;
    background: #2b59d5;
    padding-right: 10px;
    margin-right: 10px;
}

.swiper-slide .content.active .title .title-wrapper {
    transform: translateX(0);
}

.swiper-slide .content .subTitle {
    font-size: 1.5em;
    color: #111;
    font-weight: 600;
    margin-top: 15px;
    text-align: left;
    overflow: hidden;
}

.swiper-slide .content .subTitle .subTitle-wrapper {
    transform: translateX(-100%);
    transition: all 1s ease;

}

.swiper-slide .content.active .subTitle .subTitle-wrapper {
    transform: translateX(0);
}

.swiper-slide .content .btn-container {
    margin-top: 10px;
    overflow: hidden;
}

.swiper-slide .content .btn-container .btn-wrapper {
    transform: translateY(-100%);
    transition: all .6s ease-in-out;

}

.swiper-slide .content.active .btn-container .btn-wrapper {
    transform: translateY(0);
}

.swiper-slide .content .pr-btn {
    outline: none;
    background: #2b59d5;
    border: none;
    font-size: 18px;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
}

.swiper-slide .content .pr-btn:hover {
    background: #1941af;

}

#header-sec img {
    width: 100%;
    height: 100%;
}

/* arabic language */
[lang=ar] .swiper-slide .content {
    left: auto;
    right: 10%;
    direction: rtl;
}

[lang=ar] .swiper-slide .content .subTitle {
    text-align: right;
}

[lang=ar] .swiper-slide .content .title {
    text-align: right;
}

[lang=ar] .swiper-slide .content .title .title-wrapper span::before {
    content: "";
    width: 8px;
    height: 60px;
    background: #2b59d5;
    padding-right: 10px;
    margin-left: 10px;
}


/* end carousel Style */


/* start category Style */
#category-sec {
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#category-sec h1 {
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 3px;
}

.category-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 250px;
    height: 300px;
    border-radius: 13px;
    margin: 20px;
    overflow: hidden;
}

.card:hover .cover {
    opacity: 1;
}

.card:hover .cardImg {
    transform: translateY(-5%);
}

.card:hover .content {
    transform: translateY(-120%);
    opacity: 1;
}

.card .cover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 0%, 0.009) 11.7%,
            hsla(0, 0%, 0%, 0.034) 22.1%,
            hsla(0, 0%, 0%, 0.072) 31.2%,
            hsla(0, 0%, 0%, 0.123) 39.4%,
            hsla(0, 0%, 0%, 0.182) 46.6%,
            hsla(0, 0%, 0%, 0.249) 53.1%,
            hsla(0, 0%, 0%, 0.320) 58.9%,
            hsla(0, 0%, 0%, 0.394) 64.3%,
            hsla(0, 0%, 0%, 0.468) 69.3%,
            hsla(0, 0%, 0%, 0.540) 74.1%,
            hsla(0, 0%, 0%, 0.607) 78.8%,
            hsla(0, 0%, 0%, 0.668) 83.6%,
            hsla(0, 0%, 0%, 0.721) 88.7%,
            hsla(0, 0%, 0%, 0.762) 94.1%,
            hsla(0, 0%, 0%, 0.790) 100%);
    transition: all .4s ease;
    z-index: 10;

}

.card .cardImg {
    width: 100%;
    height: 110%;
    transition: all .4s ease;

}

.card .content {
    position: absolute;
    top: 110%;
    width: 100%;
    height: 50%;
    padding: 15px;
    text-align: center;
    z-index: 100;
    opacity: 0;
    transition: all .4s ease;

}

.card .content .title {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 15px;
    color: #fff;
}

.card .content .details-btn {
    font-size: 15px;
    font-weight: 500;
    background-color: #2b59d5;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    outline: none;
    border: none;
}

.card .content .details-btn:hover {
    color: #111;
    transition: all .2s ease-in-out;
}

/* end Category Style */

/* map style start */

.map-container {
    width: 100%;
    display: flex;
    padding: 50px;
}

#mapId {
    position :relative !important ;
    width: 60% !important;
}

.contact-sec {
    width: 40%;
    margin: 0 10px;
}

.contact-sec h1 { 
    font-size: 40px;
    letter-spacing: 2px;
    color: #2b59d5;
    text-align: left;
}

.contact-sec .loc {
    width: 100%;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    background: #f3eff5;
    text-align: left;
}

.contact-sec .loc h2 {
    font-size: 25px;
    letter-spacing: 1px;
    padding-bottom: 5px;
}

.contact-sec .loc span {
    font-size: 18px;

}

.contact-sec .loc hr {
    margin: 10px auto;
    width: 70%;
}

.contact-sec .loc .details {
    display: block !important;
    list-style-type: none;
    direction : ltr;
}

.contact-sec .loc .details li {
    display: flex;
    justify-content: start;
    padding: 5px;
}

.contact-sec .loc .details span {
    font-size: 18px;
    color: #333533;

}

.contact-sec .loc .details span  .icon {
    font-size: 25px;
    color: #2b59d5;
    padding: 0 10px;
}

.contact-sec .loc .details p a {
    font-size: 18px;
    text-decoration: none;
    color: #333533;

}

/* map style end */

.services-img{
    width:100%;
    height: 100%;
}
.textServ{
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    margin:5px;
    color: #2b59d5;
}
/* Vertical tab Style Start */


.tabcontainer {
    position: relative;
    padding: 50px 10px;
}

.maxwidth {
    max-width: 74rem;
    width: 100%;
    margin: 0 auto;
}

.ux-text h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .6rem;
    color: #444;
}

.ux-text h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #2b59d5;
}

.ux-text p {
    color: #666;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.ux-text p:last-child {
    margin: 0;
}

.ux-vertical-tabs {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff;
}

.ux-vertical-tabs .tabs {
    width: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #ddd;
}

.ux-vertical-tabs .tabs button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    padding: 1.2rem;
    width: 100%;
    outline: none;
    text-align: left;
    cursor: pointer;
    border: 0;
    font-size: .85rem;
    color: #666;
    text-transform: uppercase;
    -webkit-transition: background 250ms ease;
    transition: background 250ms ease;
}

.ux-vertical-tabs .tabs button:hover {
    background: #edf0d0;
}

.ux-vertical-tabs .tabs button.active {
    background: #2b59d5;
    border-right: 0;
    color: #222;
}

.ux-vertical-tabs .tabs button.empty {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 0;
    pointer-events: none;
}

.ux-vertical-tabs .tabs button:hover.empty {
    background: none;
}

.ux-vertical-tabs .tabs button span {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #ccc;
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
    opacity: 0;
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.ux-vertical-tabs .tabs button:hover span {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}

.ux-vertical-tabs .tabs button.active span {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    border-left: 6px solid #081436;
    opacity: 1;
}

.ux-vertical-tabs .maincontent {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border-left: 0;
    padding: 2rem;
    overflow: hidden;
    border: 1px solid #ddd;
    border-left: 0;
}

.ux-vertical-tabs .maincontent .tabcontent {
    display: none;
}

.ux-vertical-tabs .maincontent .tabcontent.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
}

@media (max-width: 50rem) {
    .ux-vertical-tabs {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        background: none;
    }

    .ux-vertical-tabs .tabs {
        width: 100%;
        border-bottom: 0;
    }

    .ux-vertical-tabs .tabs button.empty {
        display: none;
    }

    .ux-vertical-tabs .maincontent {
        border-top: 0;
        background: #fff;
    }

    .ux-vertical-tabs .tabs button {
        padding: 1rem;
    }

    .ux-vertical-tabs .tabs button.active {
        background: #2b59d5;
    }

    .ux-vertical-tabs .tabs button span {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .ux-vertical-tabs .tabs button:hover span {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .ux-vertical-tabs .tabs button.active span {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .ux-vertical-tabs .maincontent {
        padding: 1rem;
    }
}

[lang=ar] .ux-vertical-tabs .tabs button span {
    border-right: 6px solid #ccc;
    border-left: 0;
}

[lang=ar] .ux-vertical-tabs .maincontent {
    border-right: 0;
    border-left: 1px solid #ddd;
}

[lang=ar] .ux-vertical-tabs .tabs button.active span {
    border-right: 6px solid #112764;
    border-left: 0;
}
/* Vertical tab Style End */
/* contat form style start */
.contactFormCont {
    position: relative;
    background: url(../images/bg.jpg);
    background-size: cover;
    height: 100%;
    margin-bottom: 200px;
    padding-left: 100px
}


.contactForm {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    max-height: 550px;
    z-index: 100;
}

.contactFormCont .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactFormCont .title p {
    font-weight: 900;
    color: #fff;
}

.contactFormCont .titleText {
    color: #fff;
    font-size: 3em;
    font-weight: 300;
}

.contactFormCont .titleText span {
    color: #2b59d5;
    font-weight: 700;
    font-size: 1.5em;
}

.contactForm h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .inputBox {
    position: inherit;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    display: block;
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactForm .inputBox input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #2b59d5;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* contact form style end */
/* Carrer Style start */
.carrer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    flex-wrap: wrap;
    width: 100%;
}

.inn-container {
    width: 70%;
}

.inn-container h2 {
    font-size: 40px;
    color: #2b59d5;
    letter-spacing: 2px;
    font-weight: 600;
}

.inn-container ul {
    display: block;
    list-style: none;
    background: #1b1b1b;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
}

.inn-container ul h3 {
    font-size: 30px;
    color: #2b59d5;
}

.inn-container ul li {
    color: #fff;
    font-size: 18px;
    padding: 10px 0 0 50px;
}

.inn-container ul li:hover {
    color: #2b59d5
}

@media(max-width:768px) {
    .carrer-container {
        padding: 20px;
    }
}

@media(max-width:640px) {
    .carrer-container {
        padding: 5px;
    }

    .inn-container ul {
        text-align: center;
    }

    .inn-container ul li {
        padding: 0;
        padding-bottom: 10px;
    }
}

/* Carrer Style End */

/* Equipment Style Start */
.eq-container {
    width: 100%;
    padding: 50px;
    text-align: center;
}

.eq-container h1 {
    font-size: 3em;
    font-weight: 800;
    color: #2b59d5;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.eq-container img {
    width: 100%;
    height: 100vh;
}

.eq-container h2 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.equipment-details {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.equipment-details .box {
    padding: 20px;
    margin: 3px;
    border-radius: 15px;
    background: #1b1b1b;
}

.equipment-details .box span {
    color: #fff;
    font-size: 18px
}

.equipment-details .box b {
    color: #2b59d5;
}

/* Equipment Style End */


/* Equipment1 Style Start */

.img-container{
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.img-container img{
    width:350px;
    height:300px;
    margin:5px;
}
.img-container img.img-lg{
    width:710px;
}

/* Equipment1 Style End */

/* sertificate container style start */
.ser-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110vh;
}
/* sertificate container style end */


/* start footer style */

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #1b1b1b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer .footer-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

footer .footer-cont h2 {
    position: relative;
    font-weight: 500;
    margin-bottom: 15px;
    color: #fffed5;
}

footer .footer-cont h2::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #2b59d5;
}

footer .footer-cont h2::before p {
    color: #999;
}

footer .footer-cont p {
    color: #fffed5;
}

footer .footer-cont ul {
    display: block;
}

footer .footer-cont .sec {
    margin-right: 30px;
}

footer .footer-cont .sec.aboutus {
    width: 40%;
}

footer .footer-cont .sec.aboutus .sci {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

footer .footer-cont .sec.aboutus .sci li {
    list-style: none;
}

footer .footer-cont .sec.aboutus .sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #999696;
    color: #fff;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

footer .footer-cont .sec.aboutus .sci li a:hover {
    background: #2151d3;
}

footer .footer-cont .quickLinks {
    position: relative;
    width: 25%;
}

footer .footer-cont .quickLinks ul li {
    list-style: none;
}

footer .footer-cont .quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

footer .footer-cont .quickLinks ul li a:hover {
    color: #000;
}

footer .footer-cont .contact {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

footer .footer-cont .contact .info {
    position: relative;
}

footer .footer-cont .contact .info li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
}
footer .footer-cont .contact .info li.logos{
    display: flex;
    align-items: flex-start;
}
footer .footer-cont .contact .info li.logos img{
    margin-right :20px;
}
footer .footer-cont .contact .info li span {
    color: #999;
}

footer .footer-cont .contact .info li span:nth-child(1) {
    color: #fffed5;
    font-size: 20px;
    margin-right: 10px;
}

footer .footer-cont .contact .info li a {
    color: #999;
    text-decoration: none;
}

footer .footer-cont .contact .info li a:hover {
    color: #000;
}

.copyrightText {
    width: 100%;
    background-color: #2b59d5;
    padding: 8px 100px;
    text-align: center;
    color: #fff;
}

.copyrightText a {
    text-decoration: none;
    color: #1b1b1b;
    font-size: 20px;
    font-weight: 600;
}
.our-logo{
    letter-spacing: 3px;
}
@media (max-width: 991px) {

    .map-container {
        flex-wrap: wrap;
    }

    #map {
        width: 100%;
        height: 400px;
    }

    .contact-sec {
        width: 100%;
    }

    footer {
        padding: 40px;
    }

    footer .footer-cont {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    footer .footer-cont .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .footer-cont .sec.aboutus,
    footer .footer-cont .sec.quickLinks,
    footer .footer-cont .sec.contact {
        width: 100%;
    }

    .copyrightText {
        padding: 8px 40px;
    }
}

/* language arabic */

[lang=ar] footer .footer-cont .contact .info li p {
    direction: ltr;
}

[lang=ar] footer .footer-cont h2::before {
    left: auto;
}
[lang=ar] footer .footer-cont .contact .info li span:nth-child(1) {
    margin-right: 0;
    margin-left :10px
}

/* end footer style */
@media (max-width:640px) {
    .swiper-slide .content .title {
        font-size: 2.5em;
    }

    .swiper-slide .content .subTitle {
        font-size: 1em;
    }

}

@media (max-width:340px) {
    .swiper-slide .content .title {
        font-size: 2em;
    }

    .swiper-slide .content .subTitle {
        font-size: .8em;
    }

}

@media (max-width:425px) {
    .eq-container {
        padding: 5px;
    }
}

/*---------- language Arabic --------- */

/* start nav style */
[lang=ar] nav .logo {
    float: right;
    padding-right: 60px;
}

[lang=ar] .logo::before {
    right: -10px;
    left: auto !important;
}

[lang=ar] .logo:after {
    transform: skew(-30deg);
}

[lang=ar] nav ul {
    float: left;
    margin-left: 40px;
}

[lang=ar] nav ul ul ul li {
    top: -60px;
    right: 75%;
}

/* end nav style */

/* About us Style start */

.abcontainer{
    width: 100%;
    padding: 0 50px;
}
.abcontainer img {
    width: 100%;
    height: 100%;
}
.about-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-details-container {
    padding: 50px;
}
.about-details-container h2{
    font-size: 40px;
    letter-spacing: 5px;
    color :#2b59d5;
    text-align: center;
}
.about-details-container  .box{
    font-size: 20px;
    background: #1b1b1b;
    width: 100%;
    padding: 30px;
    color: #fff;
    border-radius: 15px;
    margin: 15px 0;
    transition: all .2s ;
}
.about-details-container  .box:hover{
  color :#2b59d5;
}
.about-details-container .inner-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.about-details-container .mission,
.about-details-container  .vision {
    padding :15px;
}
.EnvBoxTitle {
    font-size:40px;
}
.env-container{
    margin-top : 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.env-container h4 {
    font-size: 30px;
    color :#2b59d5 ;
    letter-spacing: 2px;
}
/* About us style End */

.innerServices{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.innerServices img {
    width:100%;
    height: 100%;;
}
.innerServices h1 {
    font-size: 50px;
    margin-top : 20px;
    font-weight: 900;
    color: #2b59d5;
    letter-spacing: 2px;
}

.innerServices .category {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 25px;
    margin: 15px 0 0 0;
}
.innerServices .category .box {
padding: 25px 50px;
color: #fff;
background: #1b1b1b;
font-size: 30px;
border-radius: 15px;
}

.innerServices .category .box a {
    text-decoration: none;
    color: #fff;
}
.innerServices .category .box a:hover {
    color :#2b59d5;
        }